######## TESTING ########
django-debug-toolbar
django_dynamic_fixture
ipdb
tblib
########################


######## SERVER ########
gunicorn
########################


######## BBDD ##########
psycopg2
djangorestframework-gis
########################


######## DJANGO ########
Django==3.1.6
django-extensions
# django-cors-headers
########################


######### AUTH #########
social-auth-app-django
########################
