######## TESTING ########
django-debug-toolbar
django_dynamic_fixture
ipdb
tblib
########################


######## SERVER ########
gunicorn
########################


######## BBDD ##########
psycopg2
########################


######## DJANGO ########
Django==2.2.13
django-extensions
# django-cors-headers
########################


######### AUTH #########
social-auth-app-django
########################
